<?xml version="1.0" encoding="utf-8" ?>
<configuration scan="true" scanPeriod="60 seconds" debug="true">

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{400} %line - %msg%n</pattern>
        </layout>
    </appender>

    <root level="info">
        <appender-ref ref="stdout"/>
    </root>
</configuration>